<template>
  <img alt="Vue logo" src="./assets/logo.png">
  <div>Bonjour client keycloak {{ this.keycloak.clientId }}</div>
  <div>Est ce que l'appel à l'api avec la verification du token a fonctionné : {{ worked }}</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import {keycloakInstance} from "@/security/KeycloakService";

export default defineComponent({
  name: 'App',
  data: () => {
    return {
      keycloak: keycloakInstance,
      worked: false,
    }
  },
  mounted() {
    this.fetchClients();
  },
  methods: {
    async fetchClients() {
      await fetch('http://localhost:3000/clients', {
        headers: {
          'Authorization': `Bearer ${this.keycloak.token}`
        }
      }).then(() => this.worked = true)
          .catch(() => this.worked = false)
    }
  }
});
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
